.root{
    -fx-font: 20pt "Arial";
    -fx-background-image: url("images/background.jpg");
    -fx-background-size: cover;
    -fx-text-fill: #33fa3b;
}

#header {
    -fx-font: bold italic 30pt "Arial";
    -fx-padding: 10px;
    -fx-background-radius: 20px;
}

.label{
    -fx-text-fill: #33fa3b;
}

.text-field {
    -fx-background-radius: 20px;
    -fx-background-color: #140d09;
    -fx-text-fill: white;
}

.table-view {
    -fx-text-fill: #33fa3b;
    -fx-font: bold 20pt "Arial";
    -fx-background-color: #5b3109;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
}

/* I HAVE DONE EVERYTHING TO GET RID OF THAT STUPID GREY BOX ABOVE THE SCROLLBAR I GIVE UP */
.column-header-background,
.table-column,
.scroll-bar,
.scroll-bar .track{
    -fx-background-color: black;
    -fx-background-radius: 20px;
}

.table-row-cell {
    -fx-background-color: #5b3109;
}

.table-cell {
    -fx-border-color: white;
    -fx-text-fill: #33fa3b;
}

.button {
    -fx-text-fill: #33fa3b;
    -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 0);
    -fx-background-radius: 20px;
    -fx-background-color: #5b3109;
}

.list-view {
    -fx-background-radius: 20px;
}

#onlineLabel {
    -fx-effect: dropshadow(one-pass-box, black, 25, 0, 0, 0);
}